Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-buildifier, copyright, check-google-java-format, check-clang-format, check-gofmt, golint

check-buildifier:
  name: Check bazel buildifier
  description: Runs `buildifier` checks on Bazel files
  entry: buildifier --mode=check
  language: system
  stages:
  - push
  - commit

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

check-google-java-format:
  name: Check google-java-format
  description: Checks `google-java-format` on Java files
  language: system
  entry: google-java-format -n --set-exit-if-changed
  stages:
  - push
  - commit

check-clang-format:
  name: Check clang-format
  description: Checks that files are clang-format compatible
  language: system
  entry: clang-format --dry-run -Werror
  stages:
  - push
  - commit

check-gofmt:
  name: Check gofmt
  description: Checks `gofmt` on Go files
  language: script
  entry: tools/git/check-gofmt.sh
  stages:
  - push
  - commit

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint
  stages:
  - push
  - commit

Update golang.org/x/sys
  external.bzl
  go.mod
  go.sum
  setup.bzl
Due: check-buildifier

Unblock rules_go update with tools/sys fixup
  external.bzl
  go.mod
  go.sum
  setup.bzl
Due: check-buildifier

feat(proxy): Add support for transmitting protos in wire format
  kythe/go/platform/analysis/proxy/BUILD
  kythe/go/platform/analysis/proxy/proxy.go
  kythe/go/platform/analysis/proxy/proxy_test.go
Due: check-buildifier, copyright, check-gofmt, golint

Don't explicitly encode/decode wire format to base64
  kythe/go/platform/analysis/proxy/proxy.go
  kythe/go/platform/analysis/proxy/proxy_test.go
Due: copyright, check-gofmt, golint

snake -> camel case
  kythe/go/platform/analysis/proxy/proxy.go
Due: copyright, check-gofmt, golint

feat(proxy): Add support for transmitting protos in wire format (#4983)
  kythe/go/platform/analysis/proxy/BUILD
  kythe/go/platform/analysis/proxy/proxy.go
  kythe/go/platform/analysis/proxy/proxy_test.go
Due: check-buildifier, copyright, check-gofmt, golint

chore: add nickgonzalez@google.com to CONTRIBUTORS file for generated protos feature work.
  CONTRIBUTORS
Due: none

feat(cxx_common): properly index generated protos
  kythe/cxx/common/protobuf_metadata_file.cc
  kythe/cxx/indexer/cxx/testdata/proto/BUILD
  kythe/cxx/indexer/cxx/testdata/proto/proto5.cc
  kythe/data/vnames.json
  kythe/testdata/indexers/proto/BUILD
  kythe/testdata/indexers/proto/testdata5.proto
  tools/build_rules/verifier_test/cc_indexer_test.bzl
Due: check-buildifier, copyright, check-clang-format

Initial implementation
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/error.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
  kythe/rust/indexer/tests/providers.rs
Due: check-buildifier, copyright

Fix bugs
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/error.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
  kythe/rust/indexer/tests/providers.rs
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: check-buildifier, copyright

Request for analysis is blocking
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: copyright

fix(lint): fix linter issues
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: check-buildifier, copyright

fix(rust_indexer): fix linter issues
  .commitlintrc.js
Due: check-clang-format

fix(rust_common): remove duplicate cargo raze BUILD file
  kythe/rust/cargo/cargo/BUILD.bazel
Due: check-buildifier

Continue removing old cpu:darwin setting, upgrade nodejs for M1, fix Go build
  BUILD
  external.bzl
  go.sum
  kythe/go/extractors/golang/packages.go
  setup.bzl
  third_party/BUILD
  third_party/libmemcached.BUILD
Due: check-buildifier, copyright, check-gofmt, golint

Add link_workspace_root to fix utf8 jasmine test
  kythe/typescript/BUILD
Due: check-buildifier

fix(rust_indexer): don't panic when failing to write a file
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: copyright

fix(rust_indexer): read the response after sending done
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: copyright

fix(rust_indexer): break out finish_unit function
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: copyright

fix(rust_indexer): refactor finish_unit to send_done
  kythe/rust/indexer/src/bin/proxy/main.rs
Due: copyright

feat(rust_indexer): Add support for communicating with the analyzer driver (#4985)
  .commitlintrc.js
  kythe/rust/cargo/cargo/BUILD.bazel
  kythe/rust/indexer/BUILD
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
  kythe/rust/indexer/tests/providers.rs
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: check-buildifier, copyright, check-clang-format

chore(rust_common): format all Rust files
  kythe/rust/extractor/src/bin/cli.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/fuchsia_extractor/src/bin/main.rs
  kythe/rust/fuchsia_extractor/src/kzip.rs
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/src/indexer/mod.rs
  kythe/rust/indexer/src/indexer/offset.rs
  kythe/rust/indexer/src/indexer/save_analysis.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
  kythe/rust/indexer/tests/array_writer.rs
  kythe/rust/indexer/tests/providers.rs
  tools/rust/rustfmt.sh
Due: copyright

chore(rust_common): format all Rust files (#4987)
  kythe/rust/extractor/src/bin/cli.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/fuchsia_extractor/src/bin/main.rs
  kythe/rust/fuchsia_extractor/src/kzip.rs
  kythe/rust/indexer/src/bin/bazel/main.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/src/indexer/mod.rs
  kythe/rust/indexer/src/indexer/offset.rs
  kythe/rust/indexer/src/indexer/save_analysis.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
  kythe/rust/indexer/tests/array_writer.rs
  kythe/rust/indexer/tests/providers.rs
  tools/rust/rustfmt.sh
Due: copyright

feat(dev): add rustfmt check to pre-commit
  .pre-commit-config.yaml
  kythe/release/cloudbuild/pre-commit/Dockerfile
  tools/rust/rustfmt.sh
Due: copyright

feat(cxx_indexer): use default corpus for meta, builtin nodes
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, check-clang-format

fix(dev): remove rustup.sh after installing
  kythe/release/cloudbuild/pre-commit/Dockerfile
Due: copyright

feat(dev): add rustfmt checks in linter (#4989)
  .pre-commit-config.yaml
  kythe/release/cloudbuild/pre-commit/Dockerfile
  tools/rust/rustfmt.sh
Due: copyright

feat(extraction): accept "arguments" in addition to "command" in compdb
  kythe/go/extractors/config/runextractor/compdb/BUILD
  kythe/go/extractors/config/runextractor/compdb/compdb.go
  kythe/go/extractors/config/runextractor/compdb/compdb_test.go
  kythe/go/extractors/config/runextractor/compdb/testdata/compilation_database_arguments.json
Due: check-buildifier, copyright, check-gofmt, golint

fix(extraction): skip E2E test if TEST_TMPDIR is absent
  kythe/go/extractors/config/runextractor/compdb/compdb_test.go
Due: copyright, check-gofmt, golint

feat(rust_extractor): remove dependency on rustc_driver to avoid dylink
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
Due: check-buildifier, copyright

fix(rust_extractor): remove debug line
  kythe/rust/extractor/tests/integration_test.rs
Due: copyright

feat(extraction): accept "arguments" in addition to "command" in compdb (#4986)
  kythe/go/extractors/config/runextractor/compdb/BUILD
  kythe/go/extractors/config/runextractor/compdb/compdb.go
  kythe/go/extractors/config/runextractor/compdb/compdb_test.go
  kythe/go/extractors/config/runextractor/compdb/testdata/compilation_database_arguments.json
Due: check-buildifier, copyright, check-gofmt, golint

chore: fix cloudbuild rustup installation
  kythe/release/cloudbuild/pre-commit/Dockerfile
Due: copyright

chore: fix cloudbuild rustup installation (#4991)
  kythe/release/cloudbuild/pre-commit/Dockerfile
Due: copyright

fix(rust_common): remove references to PROTO_COMPILE_DEPS
  kythe/rust/extractor/BUILD
  kythe/rust/indexer/BUILD
Due: check-buildifier

fix(rust_extractor): fix --out-dir path
  kythe/rust/extractor/tests/test.rs
Due: copyright

fix(rust_common): remove references to PROTO_COMPILE_DEPS (#4992)
  kythe/rust/extractor/BUILD
  kythe/rust/indexer/BUILD
Due: check-buildifier

fix(rust_extractor): fix --out-dir path (#4993)
  kythe/rust/extractor/tests/test.rs
Due: copyright

Add x86_64-apple-darwin as a target so we can build on OSX.
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/remote/BUILD.atty-0.2.14.bazel
  kythe/rust/cargo/remote/BUILD.clap-2.33.3.bazel
  kythe/rust/cargo/remote/BUILD.parking_lot_core-0.7.2.bazel
  kythe/rust/cargo/remote/BUILD.rand-0.4.6.bazel
  kythe/rust/cargo/remote/BUILD.rayon-core-1.9.1.bazel
  kythe/rust/cargo/remote/BUILD.sha2-0.9.5.bazel
Due: copyright

Path conditions:
  check-buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  check-google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
