Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-buildifier, copyright, check-google-java-format, check-clang-format, check-gofmt, golint

Path conditions:
  check-buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  check-google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))

fix: add test for abstract class
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Modifiers.java
Due: none

fix: emit package visibilities
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Visibility.java
Due: copyright, check-google-java-format

fix: refactor in preparation for computing implied visibility
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, check-google-java-format

fix: handle default visibility
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/java/TreeContext.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Visibility.java
Due: copyright, check-google-java-format

fix(java): add a test exposing the compiler implicitly tagging enum values as static
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/StaticVariables.java
Due: none

fix: pull out and use a constant
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, check-google-java-format

fix: a bit more cleanup
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, check-google-java-format

fix: more cleanup
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, check-google-java-format

fix: add another test
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Modifiers.java
Due: none

fix: minor test change
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/StaticVariables.java
Due: none

feat(java): emit visibility and other modifier facts (#4886)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/java/com/google/devtools/kythe/analyzers/java/TreeContext.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Modifiers.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Visibility.java
Due: copyright, check-google-java-format

fix(java): verifier test exposing the compiler implicitly tagging enum values as "static" (#4887)
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/StaticVariables.java
Due: none

fix(java): do not include "new " in constructor call spans
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Callgraph.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethodRef.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Methods.java
Due: copyright, check-google-java-format

fix: reformat
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, check-google-java-format

restore comment
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, check-google-java-format

Do not include "new " in java constructor refs (#4888)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Callgraph.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethodRef.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Methods.java
Due: copyright, check-google-java-format

fix(java): properly elide type arguments for constructor calls
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethodRef.java
Due: copyright, check-google-java-format

cleanup
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethodRef.java
Due: none

cleaner
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, check-google-java-format

fix: simplify verification test
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethodRef.java
Due: none

fix(java): properly elide type arguments for constructor calls (#4889)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/GenericMethodRef.java
Due: copyright, check-google-java-format

fix(build): update toolchains and images for cloudbuild CI
  .bazelrc
  autotools.bzl
  external.bzl
  kythe/docs/asciidoc.bzl
  setup.bzl
  third_party/libffi.BUILD
  tools/build_rules/external_tools/BUILD
  tools/build_rules/external_tools/external_tools_configure.bzl
  tools/build_rules/lexyacc/lexyacc.bzl
  tools/platforms/Dockerfile
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/cc/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/cc/builtin_include_directory_paths
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/cc/module.modulemap
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/config/BUILD
  tools/platforms/configs/versions.bzl
Due: check-buildifier

feat(build): include image configs for cloudbuild CI
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
  kythe/release/cloudbuild/bazelisk-builder-client/bazel
  kythe/release/cloudbuild/bazelisk-builder-client/cloudbuild.yaml
  kythe/release/cloudbuild/go-builder/Dockerfile
  kythe/release/cloudbuild/go-builder/cloudbuild.yaml
Due: copyright

chore: remove commented out lines
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
Due: copyright

fix(build): disable libffi docs
  third_party/libffi.BUILD
Due: none

chore: Remove unreferenced test file
  kythe/cxx/indexer/proto/testdata/enums_nojava5_enums.proto
Due: none

fix(build): update toolchains and images for cloudbuild CI (#4890)
  .bazelrc
  autotools.bzl
  external.bzl
  kythe/docs/asciidoc.bzl
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
  kythe/release/cloudbuild/bazelisk-builder-client/bazel
  kythe/release/cloudbuild/bazelisk-builder-client/cloudbuild.yaml
  kythe/release/cloudbuild/go-builder/Dockerfile
  kythe/release/cloudbuild/go-builder/cloudbuild.yaml
  setup.bzl
  third_party/libffi.BUILD
  tools/build_rules/external_tools/BUILD
  tools/build_rules/external_tools/external_tools_configure.bzl
  tools/build_rules/lexyacc/lexyacc.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/cc/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/cc/builtin_include_directory_paths
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/cc/module.modulemap
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/config/BUILD
  tools/platforms/configs/versions.bzl
Due: check-buildifier, copyright

chore: Remove unreferenced test file (#4891)
  kythe/cxx/indexer/proto/testdata/enums_nojava5_enums.proto
Due: none

fix(java): guard against possible null sym field
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, check-google-java-format

fix(java): guard against possible null sym field (#4892)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
Due: copyright, check-google-java-format

chore: remove obsolete buildkite configuration
  kythe/release/kubernetes/buildkite/Dockerfile
  kythe/release/kubernetes/buildkite/bazelrc
  kythe/release/kubernetes/buildkite/cloudbuild.yaml
  kythe/release/kubernetes/buildkite/deploy.sh
  kythe/release/kubernetes/buildkite/deployment.yaml
  kythe/release/kubernetes/buildkite/setup.sh
Due: copyright

chore: remove obsolete buildkite configuration (#4893)
  kythe/release/kubernetes/buildkite/Dockerfile
  kythe/release/kubernetes/buildkite/bazelrc
  kythe/release/kubernetes/buildkite/cloudbuild.yaml
  kythe/release/kubernetes/buildkite/deploy.sh
  kythe/release/kubernetes/buildkite/deployment.yaml
  kythe/release/kubernetes/buildkite/setup.sh
Due: copyright

feat(build): add cloud build configuration for presubmit tests
  kythe/release/cloudbuild/presubmit.yaml
Due: none

Add build_id to the XRefService Reply messages
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, check-clang-format, check-gofmt

feat(build): add cloud build configuration for presubmit tests (#4894)
  kythe/release/cloudbuild/presubmit.yaml
Due: none

s/build_id/identifier/ in comments
  kythe/proto/xref.proto
Due: copyright, check-clang-format

Add build_id to the XRefService Reply messages (#4895)
  kythe/proto/xref.proto
  kythe/proto/xref_go_proto/xref.pb.go
Due: copyright, check-clang-format, check-gofmt

perf(serving): default to more performant approximate totals
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, check-gofmt, golint

feat(build): include a custom bazelrc for cloud builder
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
  kythe/release/cloudbuild/bazelisk-builder-client/bazelrc
Due: copyright

perf(serving): default to more performant approximate totals (#4896)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, check-gofmt, golint
