Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-buildifier, copyright, check-google-java-format, check-clang-format, check-gofmt, golint

Path conditions:
  check-buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  check-google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))

feat(build): include a custom bazelrc for cloud builder (#4897)
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
  kythe/release/cloudbuild/bazelisk-builder-client/bazelrc
Due: copyright

feat(build): add image and cloudbuild configs for pre-commit
  kythe/release/cloudbuild/lint.yaml
  kythe/release/cloudbuild/pre-commit/Dockerfile
  kythe/release/cloudbuild/pre-commit/cloudbuild.yaml
  kythe/release/cloudbuild/pre-commit/go
Due: copyright

fix(build): clean up lint shellcheck
  kythe/release/cloudbuild/lint.yaml
  kythe/release/cloudbuild/pre-commit/go
Due: copyright

chore: only fetch primary branch from origin
  kythe/release/cloudbuild/lint.yaml
Due: none

feat(build): add image and cloudbuild configs for pre-commit (#4898)
  kythe/release/cloudbuild/lint.yaml
  kythe/release/cloudbuild/pre-commit/Dockerfile
  kythe/release/cloudbuild/pre-commit/cloudbuild.yaml
  kythe/release/cloudbuild/pre-commit/go
Due: copyright

doc(extraction): add make-based extraction example to website
  kythe/web/site/examples.md
Due: none

clarification around CXX make variable
  kythe/web/site/examples.md
Due: none

doc(extraction): add make-based extraction example to website (#4899)
  kythe/web/site/examples.md
Due: none

chore: remove buildbot configuration
  kythe/release/appengine/buildbot/.gitignore
  kythe/release/appengine/buildbot/Dockerfile
  kythe/release/appengine/buildbot/README.md
  kythe/release/appengine/buildbot/app.yaml
  kythe/release/appengine/buildbot/bazel
  kythe/release/appengine/buildbot/bazelrc
  kythe/release/appengine/buildbot/buster-backports.list
  kythe/release/appengine/buildbot/cloudbuild.yaml
  kythe/release/appengine/buildbot/deploy.sh
  kythe/release/appengine/buildbot/go
  kythe/release/appengine/buildbot/llvm-toolchain.list
  kythe/release/appengine/buildbot/master/buildbot.tac
  kythe/release/appengine/buildbot/master/master.cfg
  kythe/release/appengine/buildbot/start.sh
  kythe/release/appengine/buildbot/worker/buildbot.tac
  kythe/release/appengine/buildbot/worker/info/admin
  kythe/release/appengine/buildbot/worker/info/host
  kythe/web/site/contributing.md
Due: copyright

chore: remove buildbot configuration (#4904)
  kythe/release/appengine/buildbot/.gitignore
  kythe/release/appengine/buildbot/Dockerfile
  kythe/release/appengine/buildbot/README.md
  kythe/release/appengine/buildbot/app.yaml
  kythe/release/appengine/buildbot/bazel
  kythe/release/appengine/buildbot/bazelrc
  kythe/release/appengine/buildbot/buster-backports.list
  kythe/release/appengine/buildbot/cloudbuild.yaml
  kythe/release/appengine/buildbot/deploy.sh
  kythe/release/appengine/buildbot/go
  kythe/release/appengine/buildbot/llvm-toolchain.list
  kythe/release/appengine/buildbot/master/buildbot.tac
  kythe/release/appengine/buildbot/master/master.cfg
  kythe/release/appengine/buildbot/start.sh
  kythe/release/appengine/buildbot/worker/buildbot.tac
  kythe/release/appengine/buildbot/worker/info/admin
  kythe/release/appengine/buildbot/worker/info/host
  kythe/web/site/contributing.md
Due: copyright

fix: force selection of `ar` to unbreak os x build of libffi
  third_party/libffi.BUILD
Due: none

fix(verifier): remove darwin stubs and alwayslink libffi to satisfy dyld
  kythe/cxx/verifier/souffle_entrysteam_support.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  third_party/libffi.BUILD
Due: copyright, check-clang-format

fix: force selection of `ar` to unbreak os x build of libffi (#4905)
  third_party/libffi.BUILD
Due: none

fix(verifier): remove darwin stubs and alwayslink libffi to satisfy dyld (#4906)
  kythe/cxx/verifier/souffle_entrysteam_support.cc
  kythe/cxx/verifier/souffle_interpreter.cc
  third_party/libffi.BUILD
Due: copyright, check-clang-format

fix(cxx_indexer): refactor lvalue handling for dataflow
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: copyright, check-clang-format

fix(cxx_indexer): address comments
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
Due: copyright, check-clang-format

fix(cxx_indexer): refactor lvalue handling for dataflow (#4907)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/clang_utils.cc
  kythe/cxx/indexer/cxx/clang_utils.h
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: copyright, check-clang-format

feat(cxx_indexer): support ++ and -- for influence and r/w refs
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/df/df_unary.cc
Due: copyright, check-clang-format

fix(cxx_indexer): address comments
  kythe/cxx/indexer/cxx/testdata/df/df_unary.cc
Due: none

feat(cxx_indexer): support ++ and -- for influence and r/w refs (#4908)
  kythe/cxx/indexer/cxx/GraphObserver.h
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/df/df_unary.cc
Due: copyright, check-clang-format

feat(cxx_indexer): r/w refs and influence for compound assignment operators (+= and friends)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/df/df_binary.cc
Due: copyright, check-clang-format

fix(cxx_indexer): walk up from the right class
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
Due: copyright, check-clang-format

fix(cxx_indexer): address comments
  kythe/cxx/indexer/cxx/testdata/df/df_binary.cc
Due: none

feat(cxx_indexer): r/w refs and influence for += style operators (#4909)
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/IndexerASTHooks.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/df/df_binary.cc
Due: copyright, check-clang-format

fix(vscode): update vscode dependencies
  kythe/typescript/languageserver/vscode-extension/package-lock.json
  kythe/typescript/languageserver/vscode-extension/package.json
Due: none

fix(vscode): update vscode dependencies (#4920)
  kythe/typescript/languageserver/vscode-extension/package-lock.json
  kythe/typescript/languageserver/vscode-extension/package.json
Due: none

chore: npm audit fix again
  package-lock.json
Due: none

chore: npm audit fix again (#4922)
  package-lock.json
Due: none

chore(bazel): use maybe() from @bazel_tools
  WORKSPACE
  external.bzl
  setup.bzl
Due: check-buildifier

chore(bazel): use maybe() from @bazel_tools (#4926)
  WORKSPACE
  external.bzl
  setup.bzl
Due: check-buildifier

Qualify the rules_ruby patch so Kythe is easier to use as a Bazel dependency.
  setup.bzl
Due: check-buildifier

Qualify the rules_ruby patch so Kythe is easier to use as a Bazel dependency. (#4927)
  setup.bzl
Due: check-buildifier

fix(cxx_indexer): assign usr nodes to the empty corpus
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, check-clang-format

clang-format
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, check-clang-format

fix(cxx_indexer): assign usr nodes to the empty corpus (#4928)
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
Due: copyright, check-clang-format

fix(cxx_indexer): add required parameter
  kythe/cxx/indexer/cxx/marked_source.cc
Due: copyright, check-clang-format

chore: update LLVM
  kythe/cxx/indexer/cxx/marked_source.cc
  tools/build_rules/llvm/generated_cmake_targets.bzl
  tools/build_rules/llvm/llvm.BUILD
  tools/build_rules/llvm/repo.bzl
Due: check-buildifier, copyright, check-clang-format

feat(cxx_indexer): add kRefFile to EdgeKinds
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
Due: copyright, check-clang-format

feat(cxx_indexer): add kRefFile to EdgeKinds (#4931)
  kythe/cxx/common/indexing/KytheGraphRecorder.cc
  kythe/cxx/common/indexing/KytheGraphRecorder.h
Due: copyright, check-clang-format

chore: update LLVM (#4930)
  kythe/cxx/indexer/cxx/marked_source.cc
  tools/build_rules/llvm/generated_cmake_targets.bzl
  tools/build_rules/llvm/llvm.BUILD
  tools/build_rules/llvm/repo.bzl
Due: check-buildifier, copyright, check-clang-format
