Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-buildifier, copyright, check-google-java-format, check-clang-format, check-gofmt, golint

Path conditions:
  check-buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  check-google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))

Add x86_64-apple-darwin as a target so we can build on OSX. (#4994)
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/remote/BUILD.atty-0.2.14.bazel
  kythe/rust/cargo/remote/BUILD.clap-2.33.3.bazel
  kythe/rust/cargo/remote/BUILD.parking_lot_core-0.7.2.bazel
  kythe/rust/cargo/remote/BUILD.rand-0.4.6.bazel
  kythe/rust/cargo/remote/BUILD.rayon-core-1.9.1.bazel
  kythe/rust/cargo/remote/BUILD.sha2-0.9.5.bazel
Due: copyright

Implement extends_overrides.
  kythe/go/serving/pipeline/beam.go
  kythe/go/serving/pipeline/beam_test.go
  kythe/go/serving/pipeline/encoding.go
  kythe/go/serving/xrefs/columnar.go
  kythe/go/serving/xrefs/columnar/columnar_encoding.go
  kythe/go/serving/xrefs/columnar/columnar_test.go
  kythe/go/util/schema/edges/edges.go
  kythe/proto/BUILD
  kythe/proto/pipeline.proto
  kythe/proto/pipeline_go_proto/pipeline.pb.go
  kythe/proto/xref_serving.proto
  kythe/proto/xref_serving_go_proto/xref_serving.pb.go
Due: check-buildifier, copyright, check-clang-format, check-gofmt, golint

Fix lint errors.
  kythe/proto/pipeline.proto
Due: copyright, check-clang-format

feat(post_processing): implement extends_overrides. (#4995)
  kythe/go/serving/pipeline/beam.go
  kythe/go/serving/pipeline/beam_test.go
  kythe/go/serving/pipeline/encoding.go
  kythe/go/serving/xrefs/columnar.go
  kythe/go/serving/xrefs/columnar/columnar_encoding.go
  kythe/go/serving/xrefs/columnar/columnar_test.go
  kythe/go/util/schema/edges/edges.go
  kythe/proto/BUILD
  kythe/proto/pipeline.proto
  kythe/proto/pipeline_go_proto/pipeline.pb.go
  kythe/proto/xref_serving.proto
  kythe/proto/xref_serving_go_proto/xref_serving.pb.go
Due: check-buildifier, copyright, check-clang-format, check-gofmt, golint

fix(rust_extractor): change argument processing due to rules_rust change
  kythe/extractors/BUILD
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/tests/integration_test.rs
Due: check-buildifier, copyright

fix(rust_extractor): change the extra_action generator to account for the new arg processing
  tools/rust/extra_action/src/main.rs
Due: none

chore(rust_extractor): add todo regarding vname configuration support
  kythe/extractors/BUILD
Due: check-buildifier

fix(rust_extractor): change argument processing due to rules_rust change (#4996)
  kythe/extractors/BUILD
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/tests/integration_test.rs
  tools/rust/extra_action/src/main.rs
Due: check-buildifier, copyright

fix(docs): use wrapper script for extracting make-based projects
  kythe/web/site/examples.md
Due: none

quote "$@" and extract in the background
  kythe/web/site/examples.md
Due: none

fix(docs): use wrapper script for extracting make-based projects (#4997)
  kythe/web/site/examples.md
Due: none

Squashed commit of the following:
  kythe/extractors/BUILD
  kythe/go/serving/pipeline/beam.go
  kythe/go/serving/pipeline/beam_test.go
  kythe/go/serving/pipeline/encoding.go
  kythe/go/serving/xrefs/columnar.go
  kythe/go/serving/xrefs/columnar/columnar_encoding.go
  kythe/go/serving/xrefs/columnar/columnar_test.go
  kythe/go/util/schema/edges/edges.go
  kythe/proto/BUILD
  kythe/proto/pipeline.proto
  kythe/proto/pipeline_go_proto/pipeline.pb.go
  kythe/proto/xref_serving.proto
  kythe/proto/xref_serving_go_proto/xref_serving.pb.go
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/remote/BUILD.atty-0.2.14.bazel
  kythe/rust/cargo/remote/BUILD.clap-2.33.3.bazel
  kythe/rust/cargo/remote/BUILD.parking_lot_core-0.7.2.bazel
  kythe/rust/cargo/remote/BUILD.rand-0.4.6.bazel
  kythe/rust/cargo/remote/BUILD.rayon-core-1.9.1.bazel
  kythe/rust/cargo/remote/BUILD.sha2-0.9.5.bazel
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/web/site/examples.md
  tools/rust/extra_action/src/main.rs
Due: check-buildifier, copyright, check-clang-format, check-gofmt, golint

feat(rust_extractor): add script to automatically set LD_LIBRARY_PATH
  kythe/extractors/BUILD
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/extractor_script.sh
  kythe/rust/extractor/extractor_test.bzl
Due: check-buildifier, copyright

chore: add quotes around subshells
  kythe/rust/extractor/extractor_script.sh
Due: copyright

chore: remove unnecessary note from license
  kythe/rust/extractor/extractor_script.sh
Due: copyright

feat(rust_extractor): add script to automatically set LD_LIBRARY_PATH (#4998)
  kythe/extractors/BUILD
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/extractor_script.sh
  kythe/rust/extractor/extractor_test.bzl
Due: check-buildifier, copyright

chore: update simple_vnames.json to emit relative paths
  kythe/data/simple_vnames.json
Due: none

chore: update simple_vnames.json to emit relative paths (#5000)
  kythe/data/simple_vnames.json
Due: none

Changes to indexer that allows it to generate rules from inline metadata
  kythe/go/indexer/BUILD
  kythe/go/indexer/indexer.go
  kythe/go/indexer/indexer_test.go
  kythe/go/indexer/testdata/basic/inline.go
  kythe/proto/BUILD
Due: check-buildifier, copyright, check-gofmt, golint

fix(rust_extractor): make extractor tests more resilient
  kythe/rust/extractor/extractor_test.bzl
  kythe/rust/extractor/tests/integration_test.rs
Due: check-buildifier, copyright

proto: update generator script to support Python3
  kythe/proto/generate_protobufs.py
Due: copyright

fix(rust_extractor): make extractor tests more resilient (#5002)
  kythe/rust/extractor/extractor_test.bzl
  kythe/rust/extractor/tests/integration_test.rs
Due: check-buildifier, copyright

proto: update generator script to support Python3 (#5003)
  kythe/proto/generate_protobufs.py
Due: copyright

Ran scripts to add metadata.pb.go file and addressed comments
  kythe/go/indexer/BUILD
  kythe/go/indexer/indexer.go
  kythe/go/indexer/indexer_test.go
  kythe/go/indexer/testdata/basic/inline.go
  kythe/proto/BUILD
  kythe/proto/metadata_go_proto/metadata.pb.go
Due: check-buildifier, copyright, check-gofmt, golint

chore(rust_common): bump Rust version and satisfy new clippy lints
  external.bzl
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/mod.rs
Due: check-buildifier, copyright

chore(rust_common): bump Rust version and satisfy new clippy lints (#5004)
  external.bzl
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/indexer/src/bin/proxy/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/mod.rs
Due: check-buildifier, copyright

chore(rust_indexer): improve indexer test
  kythe/rust/extractor/src/bin/extractor.rs
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: check-buildifier, copyright

fix: revert change to target and use the exec config instead
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: check-buildifier

chore: fix linter warnings
  kythe/go/serving/xrefs/columnar.go
  kythe/rust/extractor/extractor_test.bzl
Due: check-buildifier, copyright, check-gofmt, golint

Moved imports
  kythe/go/indexer/indexer.go
Due: copyright, check-gofmt, golint

Lint changes
  kythe/go/indexer/indexer.go
Due: copyright, check-gofmt, golint

fix(docs): include a note about anchor-to-file childof edges
  kythe/docs/schema/schema.txt
Due: copyright

feat(cxx_indexer): use default corpus for meta, builtin nodes
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.h
  kythe/cxx/indexer/cxx/testdata/BUILD
  kythe/cxx/indexer/cxx/testdata/basic/empty_corpus_test.sh
  kythe/go/test/tools/BUILD
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
Due: check-buildifier, copyright, check-clang-format, check-gofmt, golint

fix path
  kythe/cxx/indexer/cxx/testdata/basic/empty_corpus_test.sh
Due: none

fix(docs): include a note about anchor-to-file childof edges (#5007)
  kythe/docs/schema/schema.txt
Due: copyright

format
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
Due: copyright, check-clang-format

add copyright header
  kythe/cxx/indexer/cxx/testdata/basic/empty_corpus_test.sh
Due: none

feat(go_indexer): load inline metadata (#5001)
  kythe/go/indexer/BUILD
  kythe/go/indexer/indexer.go
  kythe/go/indexer/indexer_test.go
  kythe/go/indexer/testdata/basic/inline.go
  kythe/proto/BUILD
  kythe/proto/metadata_go_proto/metadata.pb.go
Due: check-buildifier, copyright, check-gofmt, golint

fix test
  kythe/cxx/indexer/cxx/testdata/BUILD
Due: none

copyright header
  kythe/go/test/tools/empty_corpus_checker/empty_corpus_checker.go
Due: copyright, check-gofmt, golint
