Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-buildifier, copyright, check-google-java-format, check-clang-format, check-gofmt, golint

check-buildifier:
  name: Check bazel buildifier
  description: Runs `buildifier` checks on Bazel files
  entry: buildifier --mode=check
  language: system
  stages:
  - push
  - commit

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

check-google-java-format:
  name: Check google-java-format
  description: Checks `google-java-format` on Java files
  language: system
  entry: google-java-format -n --set-exit-if-changed
  stages:
  - push
  - commit

check-clang-format:
  name: Check clang-format
  description: Checks that files are clang-format compatible
  language: system
  entry: clang-format --dry-run -Werror
  stages:
  - push
  - commit

check-gofmt:
  name: Check gofmt
  description: Checks `gofmt` on Go files
  language: script
  entry: tools/git/check-gofmt.sh
  stages:
  - push
  - commit

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint
  stages:
  - push
  - commit

feat(schema): add ref/writes to edge kinds
  kythe/go/util/schema/indexdata.go
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, check-google-java-format, check-clang-format, check-gofmt, golint

feat(schema): add ref/writes to edge kinds (#4933)
  kythe/go/util/schema/indexdata.go
  kythe/java/com/google/devtools/kythe/analyzers/base/EdgeKind.java
  kythe/proto/schema.proto
  kythe/proto/schema_go_proto/schema.pb.go
Due: copyright, check-google-java-format, check-clang-format, check-gofmt, golint

chore(java_common): migrate from deprecated JsonParser APIs
  kythe/java/com/google/devtools/kythe/platform/shared/KytheMetadataLoader.java
  kythe/java/com/google/devtools/kythe/util/JsonUtil.java
Due: copyright, check-google-java-format

chore(java_common): migrate from deprecated JsonParser APIs (#4934)
  kythe/java/com/google/devtools/kythe/platform/shared/KytheMetadataLoader.java
  kythe/java/com/google/devtools/kythe/util/JsonUtil.java
Due: copyright, check-google-java-format

fix(tool): make "decors" an alias for "decor" in kythe tool
  kythe/go/services/cli/cli.go
  kythe/go/services/cli/command_decor.go
Due: copyright, check-gofmt, golint

fix(tool): add alias support to kythe command, add alias for "decor"
  kythe/go/services/cli/cli.go
  kythe/go/services/cli/command_decor.go
  kythe/go/services/cli/command_docs.go
  kythe/go/services/cli/command_edges.go
  kythe/go/services/cli/command_identifiers.go
  kythe/go/services/cli/command_ls.go
  kythe/go/services/cli/command_nodes.go
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, check-gofmt, golint

add alias for "diagnostics"
  kythe/go/services/cli/command_diagnostics.go
Due: copyright, check-gofmt, golint

fix(tool): add alias support to kythe command, add alias for "decor" (#4937)
  kythe/go/services/cli/cli.go
  kythe/go/services/cli/command_decor.go
  kythe/go/services/cli/command_diagnostics.go
  kythe/go/services/cli/command_docs.go
  kythe/go/services/cli/command_edges.go
  kythe/go/services/cli/command_identifiers.go
  kythe/go/services/cli/command_ls.go
  kythe/go/services/cli/command_nodes.go
  kythe/go/services/cli/commands_xrefs.go
Due: copyright, check-gofmt, golint

fix(docs): better highlight macos link, remove bazelisk recommendation
  kythe/web/site/getting-started-macos.md
  kythe/web/site/getting-started.md
Due: none

fix(docs): better highlight macos link, remove bazelisk recommendation (#4939)
  kythe/web/site/getting-started-macos.md
  kythe/web/site/getting-started.md
Due: none

fix(rust_indexer): rustfmt everything
  kythe/rust/extractor/src/bin/cli.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/fuchsia_extractor/src/bin/main.rs
  kythe/rust/fuchsia_extractor/src/kzip.rs
  kythe/rust/indexer/src/bin/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/src/indexer/mod.rs
  kythe/rust/indexer/src/indexer/offset.rs
  kythe/rust/indexer/src/indexer/save_analysis.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
  kythe/rust/indexer/testdata/struct.rs
  kythe/rust/indexer/testdata/type.rs
  kythe/rust/indexer/testdata/xrefs.rs
  kythe/rust/indexer/testdata/xrefs/main.rs
  kythe/rust/indexer/tests/array_writer.rs
  kythe/rust/indexer/tests/providers.rs
Due: copyright

fix(rust_indexer): rustfmt everything (#4941)
  kythe/rust/extractor/src/bin/cli.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/fuchsia_extractor/src/bin/main.rs
  kythe/rust/fuchsia_extractor/src/kzip.rs
  kythe/rust/indexer/src/bin/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/src/indexer/mod.rs
  kythe/rust/indexer/src/indexer/offset.rs
  kythe/rust/indexer/src/indexer/save_analysis.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
  kythe/rust/indexer/testdata/struct.rs
  kythe/rust/indexer/testdata/type.rs
  kythe/rust/indexer/testdata/xrefs.rs
  kythe/rust/indexer/testdata/xrefs/main.rs
  kythe/rust/indexer/tests/array_writer.rs
  kythe/rust/indexer/tests/providers.rs
Due: copyright

feat(extraction): support tree artifacts in bazel extractor
  kythe/go/extractors/bazel/BUILD
  kythe/go/extractors/bazel/extractor.go
  kythe/go/extractors/bazel/extractor_test.go
  kythe/go/extractors/bazel/treeset/BUILD
  kythe/go/extractors/bazel/treeset/treeset.go
Due: check-buildifier, copyright, check-gofmt, golint

Address comments
  kythe/go/extractors/bazel/treeset/treeset.go
Due: copyright, check-gofmt, golint

chore: switch to upstream Bazel rules
  external.bzl
  kythe/cxx/extractor/BUILD
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/tools/fyi/BUILD
  setup.bzl
  third_party/llvm-bazel-glob.patch
  third_party/llvm/src/BUILD
  third_party/llvm/src/clang_builtin_headers.cc
  tools/build_rules/llvm/BUILD
  tools/build_rules/llvm/cmake_defines.bzl
  tools/build_rules/llvm/generated_cmake_targets.bzl
  tools/build_rules/llvm/llvm.BUILD
  tools/build_rules/llvm/llvm.bzl
  tools/build_rules/llvm/repo.bzl
  tools/build_rules/support.bzl
Due: check-buildifier

chore: include python3 in the cloudbuild image
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
Due: copyright

chore: include python3 in the cloudbuild image (#4943)
  kythe/release/cloudbuild/bazelisk-builder-client/Dockerfile
Due: copyright

feat(extraction): support tree artifacts in bazel extractor (#4932)
  kythe/go/extractors/bazel/BUILD
  kythe/go/extractors/bazel/extractor.go
  kythe/go/extractors/bazel/extractor_test.go
  kythe/go/extractors/bazel/treeset/BUILD
  kythe/go/extractors/bazel/treeset/treeset.go
Due: check-buildifier, copyright, check-gofmt, golint

chore: switch to upstream Bazel rules (#4942)
  external.bzl
  kythe/cxx/extractor/BUILD
  kythe/cxx/indexer/cxx/BUILD
  kythe/cxx/tools/fyi/BUILD
  setup.bzl
  third_party/llvm-bazel-glob.patch
  third_party/llvm/src/BUILD
  third_party/llvm/src/clang_builtin_headers.cc
  tools/build_rules/llvm/BUILD
  tools/build_rules/llvm/cmake_defines.bzl
  tools/build_rules/llvm/generated_cmake_targets.bzl
  tools/build_rules/llvm/llvm.BUILD
  tools/build_rules/llvm/llvm.bzl
  tools/build_rules/llvm/repo.bzl
  tools/build_rules/support.bzl
Due: check-buildifier

Refactor TS indexer unit tests.
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

fix(typescript_indexer): fix compilation issues with TypeScript 4.3
  kythe/typescript/indexer.ts
Due: copyright

fix(typescript_indexer): fix compilation issues with TypeScript 4.3 (#4945)
  kythe/typescript/indexer.ts
Due: copyright

chore: update max bazel version
  .bazelversion
  tools/platforms/configs/.latest.bazelrc
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/armeabi_cc_toolchain_config.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/builtin_include_directory_paths
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/cc_toolchain_config.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/cc_wrapper.sh
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/module.modulemap
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/config/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/java/BUILD
  tools/platforms/configs/versions.bzl
  version.bzl
Due: check-buildifier

chore: update bazel-toolchains
  WORKSPACE
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/java/BUILD
Due: check-buildifier

chore: update bazel version to 4.1.0 (#4946)
  .bazelversion
  WORKSPACE
  tools/platforms/configs/.latest.bazelrc
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/armeabi_cc_toolchain_config.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/builtin_include_directory_paths
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/cc_toolchain_config.bzl
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/cc_wrapper.sh
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/cc/module.modulemap
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/config/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.1.0/java/BUILD
  tools/platforms/configs/versions.bzl
  version.bzl
Due: check-buildifier

feat(api): add set of languages appearing in Origin
  kythe/proto/common.proto
  kythe/proto/common_go_proto/common.pb.go
Due: copyright, check-clang-format, check-gofmt

feat(api): add set of languages appearing in Origin (#4947)
  kythe/proto/common.proto
  kythe/proto/common_go_proto/common.pb.go
Due: copyright, check-clang-format, check-gofmt

Fix comment
  kythe/typescript/indexer.ts
Due: copyright

Refactor TS indexer unit tests. (#4944)
  kythe/typescript/indexer.ts
  kythe/typescript/test.ts
Due: copyright

build: specify python2 for generate_go_protobufs.py
  kythe/proto/generate_go_protobufs.py
Due: copyright

build: specify python2 for generate_go_protobufs.py (#4948)
  kythe/proto/generate_go_protobufs.py
Due: copyright

feat(rust_indexer): generate and check in rust protos
  kythe/proto/analysis_rust_proto/analysis.rs
  kythe/proto/analysis_rust_proto/lib.rs
  kythe/proto/generate_protobufs.py
  kythe/proto/storage_rust_proto/lib.rs
  kythe/proto/storage_rust_proto/storage.rs
Due: copyright

bazelisk -> bazel
  kythe/proto/generate_protobufs.py
Due: copyright

grumble newline grumble
  kythe/proto/analysis_rust_proto/lib.rs
  kythe/proto/generate_protobufs.py
  kythe/proto/storage_rust_proto/lib.rs
Due: copyright

fix(rust_indexer): ignore copyright checks on generated rust code
  .pre-commit-config.yaml
Due: none

fix(rust_indexer): use argparse
  kythe/proto/generate_protobufs.py
Due: copyright

fix(rust_indexer): grumble regex grumble
  .pre-commit-config.yaml
Due: none

just generate all the code
  kythe/proto/generate_protobufs.py
Due: copyright

Path conditions:
  check-buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  check-google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
