Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-buildifier, copyright, check-google-java-format, check-clang-format, check-gofmt, golint

check-buildifier:
  name: Check bazel buildifier
  description: Runs `buildifier` checks on Bazel files
  entry: buildifier --mode=check
  language: system
  stages:
  - push
  - commit

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

check-google-java-format:
  name: Check google-java-format
  description: Checks `google-java-format` on Java files
  language: system
  entry: google-java-format -n --set-exit-if-changed
  stages:
  - push
  - commit

check-clang-format:
  name: Check clang-format
  description: Checks that files are clang-format compatible
  language: system
  entry: clang-format --dry-run -Werror
  stages:
  - push
  - commit

check-gofmt:
  name: Check gofmt
  description: Checks `gofmt` on Go files
  language: script
  entry: tools/git/check-gofmt.sh
  stages:
  - push
  - commit

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint
  stages:
  - push
  - commit

fix(rust_indexer): copy all generated proto files
  kythe/proto/analysis_rust_proto/any.rs
  kythe/proto/analysis_rust_proto/filecontext.rs
  kythe/proto/analysis_rust_proto/storage.rs
  kythe/proto/analysis_rust_proto/timestamp.rs
  kythe/proto/generate_protobufs.py
Due: copyright

fix(rust_indexer): copy all generated proto files (#4968)
  kythe/proto/analysis_rust_proto/any.rs
  kythe/proto/analysis_rust_proto/filecontext.rs
  kythe/proto/analysis_rust_proto/storage.rs
  kythe/proto/analysis_rust_proto/timestamp.rs
  kythe/proto/generate_protobufs.py
Due: copyright

chore(rust_extractor): Generate and copy extra action proto files
  third_party/bazel/extra_actions_base_rust_proto/extra_actions_base.rs
  third_party/bazel/extra_actions_base_rust_proto/lib.rs
Due: none

fix: Added correct underline syntax
  kythe/docs/kythe-storage.txt
Due: copyright

fix: Added correct underline syntax (#4967)
  kythe/docs/kythe-storage.txt
Due: copyright

chore(rust_extractor): Generate and copy extra action proto files (#4969)
  third_party/bazel/extra_actions_base_rust_proto/extra_actions_base.rs
  third_party/bazel/extra_actions_base_rust_proto/lib.rs
Due: none

feat(site): add a target for serving website locally
  kythe/web/site/BUILD
  kythe/web/site/serve.sh
Due: check-buildifier

feat(site): add a target for serving website locally (#4970)
  kythe/web/site/BUILD
  kythe/web/site/serve.sh
Due: check-buildifier

chore: Update local website docs
  kythe/web/site/README.adoc
  kythe/web/site/getting-started.md
Due: none

chore: Update local website docs (#4971)
  kythe/web/site/README.adoc
  kythe/web/site/getting-started.md
Due: none

fix(rust_extractor): Remove assert_cmd dependency from integration test
  kythe/rust/cargo/BUILD.bazel
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/crates.bzl
  kythe/rust/cargo/remote/BUILD.assert_cmd-1.0.5.bazel
  kythe/rust/cargo/remote/BUILD.bstr-0.2.16.bazel
  kythe/rust/cargo/remote/BUILD.difference-2.0.0.bazel
  kythe/rust/cargo/remote/BUILD.doc-comment-0.3.3.bazel
  kythe/rust/cargo/remote/BUILD.float-cmp-0.8.0.bazel
  kythe/rust/cargo/remote/BUILD.normalize-line-endings-0.3.0.bazel
  kythe/rust/cargo/remote/BUILD.num-traits-0.2.14.bazel
  kythe/rust/cargo/remote/BUILD.predicates-1.0.8.bazel
  kythe/rust/cargo/remote/BUILD.predicates-core-1.0.2.bazel
  kythe/rust/cargo/remote/BUILD.predicates-tree-1.0.2.bazel
  kythe/rust/cargo/remote/BUILD.regex-automata-0.1.10.bazel
  kythe/rust/cargo/remote/BUILD.treeline-0.1.0.bazel
  kythe/rust/cargo/remote/BUILD.wait-timeout-0.2.0.bazel
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/tests/integration_test.rs
Due: check-buildifier, copyright

fix(rust_extractor): Remove assert_cmd dependency from integration test (#4972)
  kythe/rust/cargo/BUILD.bazel
  kythe/rust/cargo/Cargo.toml
  kythe/rust/cargo/crates.bzl
  kythe/rust/cargo/remote/BUILD.assert_cmd-1.0.5.bazel
  kythe/rust/cargo/remote/BUILD.bstr-0.2.16.bazel
  kythe/rust/cargo/remote/BUILD.difference-2.0.0.bazel
  kythe/rust/cargo/remote/BUILD.doc-comment-0.3.3.bazel
  kythe/rust/cargo/remote/BUILD.float-cmp-0.8.0.bazel
  kythe/rust/cargo/remote/BUILD.normalize-line-endings-0.3.0.bazel
  kythe/rust/cargo/remote/BUILD.num-traits-0.2.14.bazel
  kythe/rust/cargo/remote/BUILD.predicates-1.0.8.bazel
  kythe/rust/cargo/remote/BUILD.predicates-core-1.0.2.bazel
  kythe/rust/cargo/remote/BUILD.predicates-tree-1.0.2.bazel
  kythe/rust/cargo/remote/BUILD.regex-automata-0.1.10.bazel
  kythe/rust/cargo/remote/BUILD.treeline-0.1.0.bazel
  kythe/rust/cargo/remote/BUILD.wait-timeout-0.2.0.bazel
  kythe/rust/extractor/BUILD
  kythe/rust/extractor/tests/integration_test.rs
Due: check-buildifier, copyright

chore: remove not-yet-supported flag from docs
  kythe/go/extractors/config/runextractor/README.md
Due: none

chore: remove not-yet-supported flag from docs (#4973)
  kythe/go/extractors/config/runextractor/README.md
Due: none

feat(rust_indexer): Get source file contents from the FileProvider rather than the fs
  kythe/rust/indexer/src/bin/main.rs
  kythe/rust/indexer/src/error.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/mod.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/tests/providers.rs
Due: copyright

Removed unused code in comment
  kythe/rust/indexer/src/providers.rs
Due: copyright

Run rustfmt
  kythe/rust/extractor/src/bin/cli.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/fuchsia_extractor/src/bin/main.rs
  kythe/rust/fuchsia_extractor/src/kzip.rs
  kythe/rust/indexer/src/bin/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/src/indexer/mod.rs
  kythe/rust/indexer/src/indexer/offset.rs
  kythe/rust/indexer/src/indexer/save_analysis.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
  kythe/rust/indexer/tests/array_writer.rs
  kythe/rust/indexer/tests/providers.rs
Due: copyright

rustfmt after merge
  kythe/rust/indexer/src/providers.rs
Due: copyright

Revert "rustfmt after merge"
  kythe/rust/indexer/src/providers.rs
Due: copyright

Add newline to providers
  kythe/rust/indexer/src/providers.rs
Due: copyright

Add comment back
  kythe/rust/indexer/src/providers.rs
Due: copyright

Revert "Run rustfmt"
  kythe/rust/extractor/src/bin/cli.rs
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/extractor/src/bin/save_analysis.rs
  kythe/rust/extractor/src/lib.rs
  kythe/rust/extractor/tests/integration_test.rs
  kythe/rust/extractor/tests/test.rs
  kythe/rust/fuchsia_extractor/src/bin/main.rs
  kythe/rust/fuchsia_extractor/src/kzip.rs
  kythe/rust/indexer/src/bin/main.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/entries.rs
  kythe/rust/indexer/src/indexer/mod.rs
  kythe/rust/indexer/src/indexer/offset.rs
  kythe/rust/indexer/src/indexer/save_analysis.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/src/writer.rs
  kythe/rust/indexer/tests/array_writer.rs
  kythe/rust/indexer/tests/providers.rs
Due: copyright

Remove comment again
  kythe/rust/indexer/src/providers.rs
Due: copyright

Remove trailing whitespace
  kythe/rust/indexer/src/bin/main.rs
Due: copyright

chore: Remove flag that should always be true now
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/platform/java/JavaCompilationDetails.java
  kythe/java/com/google/devtools/kythe/platform/java/JavacAnalysisDriver.java
Due: copyright, check-google-java-format

chore: Remove flag that should always be true now (#4975)
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexer.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/java/com/google/devtools/kythe/platform/java/JavaCompilationDetails.java
  kythe/java/com/google/devtools/kythe/platform/java/JavacAnalysisDriver.java
Due: copyright, check-google-java-format

Fix grammar
  kythe/rust/indexer/src/indexer/analyzers.rs
Due: copyright

feat(rust_indexer): Get source file contents from the FileProvider (#4974)
  kythe/rust/indexer/src/bin/main.rs
  kythe/rust/indexer/src/error.rs
  kythe/rust/indexer/src/indexer/analyzers.rs
  kythe/rust/indexer/src/indexer/mod.rs
  kythe/rust/indexer/src/providers.rs
  kythe/rust/indexer/tests/providers.rs
Due: copyright

feat(java_indexer): place builtins in the compilation unit corpus
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DefaultCorpus.java
Due: copyright, check-google-java-format

another assertion
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DefaultCorpus.java
Due: none

feat(java_indexer): place builtins in the compilation unit corpus (#4976)
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DefaultCorpus.java
Due: copyright, check-google-java-format

fix(java_extractor): properly filter/normalize Bazel javacopts
  external.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/JavaExtractor.java
Due: check-buildifier, copyright, check-google-java-format

fix(java_extractor): properly filter/normalize Bazel javacopts (#4977)
  external.bzl
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/bazel/JavaExtractor.java
Due: check-buildifier, copyright, check-google-java-format

chore: mark jasmine use testonly
  kythe/typescript/BUILD
Due: check-buildifier

chore: mark jasmine use testonly (#4978)
  kythe/typescript/BUILD
Due: check-buildifier

chore: update LLVM
  external.bzl
  setup.bzl
Due: check-buildifier

chore: update LLVM (#4979)
  external.bzl
  setup.bzl
Due: check-buildifier

chore: extend build timeout to account for slow PRs
  kythe/release/cloudbuild/presubmit.yaml
Due: none

chore: extend build timeout to account for slow PRs (#4980)
  kythe/release/cloudbuild/presubmit.yaml
Due: none

Upgrade dependencies and fixup build files for darwin_arm64
  setup.bzl
  third_party/curl.BUILD
  third_party/leveldb.BUILD
  third_party/libffi.BUILD
Due: check-buildifier

Path conditions:
  check-buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  check-google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
