Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, google-java-format, gofmt

buildifier:
  name: bazel buildifier
  description: Runs `buildifier` on Bazel files
  entry: buildifier
  language: system

google-java-format:
  name: google-java-format
  description: Runs `google-java-format` on Java files
  language: system
  entry: google-java-format

gofmt:
  name: gofmt
  description: Runs `gofmt` on Go files
  language: system
  entry: gofmt

fix(java): ensure a corpus is always set in extracted compilation units (#4849)
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/AbstractJavacWrapper.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/BUILD
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Javac8Wrapper.java
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/Javac9Wrapper.java
  kythe/java/com/google/devtools/kythe/extractors/shared/BUILD
  kythe/java/com/google/devtools/kythe/extractors/shared/EnvironmentUtils.java
  kythe/java/com/google/devtools/kythe/extractors/shared/FileVNames.java
  kythe/javatests/com/google/devtools/kythe/extractors/shared/BUILD
Due: buildifier, google-java-format

chore: enably copyright check fix previous failures
  .pre-commit-config.yaml
  kythe/cxx/indexer/cxx/DESIGN.md
  kythe/cxx/indexer/cxx/claiming.md
  kythe/go/extractors/config/preprocessor/Dockerfile
  kythe/go/util/schema/update_data.sh
  kythe/java/com/google/devtools/kythe/platform/shared/ProtobufMetadataLoader.java
  kythe/release/appengine/buildbot/README.md
Due: google-java-format

chore: enable shellcheck pre-commit
  .pre-commit-config.yaml
  kythe/docs/schema/example-base.sh
  kythe/docs/schema/example-cxx.sh
  kythe/docs/schema/example-objc.sh
  kythe/extractors/bazel/extract.sh
  kythe/extractors/openjdk8/run.sh
  kythe/go/extractors/cmd/gotool/analyze_packages.sh
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/javac-wrapper.sh
  kythe/javatests/com/google/devtools/kythe/analyzers/java/indexer_empty_cu_test.sh
  kythe/javatests/com/google/devtools/kythe/analyzers/java/indexer_source_root_test.sh
  kythe/javatests/com/google/devtools/kythe/analyzers/java/indexer_test.sh
  kythe/release/appengine/xrefs/build_serving_tables.sh
  kythe/release/base/fix_permissions.sh
  kythe/release/kythe.sh
  kythe/release/maven_extractor.sh
  kythe/release/package_release.sh
  kythe/release/setup_release.sh
  kythe/typescript/browse
  kythe/web/site/sync_docs.sh
  tools/arc/linter.sh
  tools/clang_tidy/clang_tidy.sh
Due: none

chore: enable and apply clang-format
  .commitlintrc.js
  .pre-commit-config.yaml
  kythe/cxx/extractor/testlib.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/tools/static_claim_main.cc
  kythe/examples/proto/example.proto
  kythe/proto/explore.proto
  kythe/proto/filetree.proto
  kythe/proto/graph.proto
  kythe/proto/link.proto
  kythe/proto/storage.proto
  kythe/proto/storage_service.proto
  kythe/proto/xref.proto
  kythe/web/site/js/main.js
Due: none

chore: harmonize pre-commit with arc lint remove latter
  .arcconfig
  .arclint
  .pre-commit-config.yaml
  tools/arc/linter.sh
  tools/git/setup_hooks.sh
Due: none

chore: quiet the commitlint a bint
  tools/git/commit-msg.sh
Due: none

chore: further silence bazel output
  tools/git/commit-msg.sh
Due: none

chore: more descriptive name for copyright check
  .pre-commit-config.yaml
Due: none

chore: replace arc with pre-commit
  .arcconfig
  .pre-commit-config.yaml
  kythe/web/site/css/main.scss
  tools/arc/.gitignore
  tools/arc/__phutil_library_init__.php
  tools/arc/__phutil_library_map__.php
  tools/arc/unit/engine/BazelTestEngine.php
  tools/git/pre-push.sh
  tools/git/setup_hooks.sh
  tools/git/test-affected-targets.sh
Due: none

build: replace arc with pre-commit in buildbot and docs
  kythe/release/appengine/buildbot/Dockerfile
  kythe/release/appengine/buildbot/master/master.cfg
  kythe/web/site/contributing.md
Due: none

build: check formatting by default, reformat with manual
  .pre-commit-config.yaml
  tools/git/check-gofmt.sh
  tools/git/run-staticcheck.sh
Due: none

build: allow passing flags to pre-commit in setup_hooks
  tools/git/setup_hooks.sh
Due: none

Ensure correct dependency on cc toolchain from Starlark rules.
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

chore: address comments and buildbot issues
  .commitlintrc.js
  .pre-commit-config.yaml
  kythe/cxx/extractor/testlib.cc
  kythe/cxx/indexer/cxx/IndexerFrontendAction.cc
  kythe/cxx/tools/static_claim_main.cc
  kythe/extractors/bazel/extract.sh
  kythe/java/com/google/devtools/kythe/extractors/java/standalone/javac-wrapper.sh
  kythe/release/appengine/buildbot/Dockerfile
  tools/clang_tidy/clang_tidy.sh
  tools/git/test-affected-targets.sh
Due: none

Ensure correct dependency on cc toolchain from Starlark rules. (#4852)
  tools/build_rules/verifier_test/rust_indexer_test.bzl
Due: buildifier

chore: just have formatters format
  .pre-commit-config.yaml
  tools/git/check-gofmt.sh
Due: none

chore: remove an errant closing brace
  tools/git/test-affected-targets.sh
Due: none

chore: fix up last buildbot arcLint references
  kythe/release/appengine/buildbot/master/master.cfg
Due: none

chore: fix builbot for v3
  kythe/release/appengine/buildbot/master/master.cfg
Due: none

chore: add python, new g-j-f and output formatter diffs
  kythe/release/appengine/buildbot/Dockerfile
  kythe/release/appengine/buildbot/master/master.cfg
Due: none

chore(go_indexer): make Go indexer err checkable
  kythe/go/indexer/indexer.go
Due: gofmt

chore(go_indexer): make Go indexer err checkable (#4854)
  kythe/go/indexer/indexer.go
Due: gofmt

chore: update protobuf to 3.15.3 (#4846)
  external.bzl
  kythe/go/util/riegeli/riegeli_test_go_proto/riegeli_test.pb.go
  kythe/proto/analysis_go_proto/analysis.pb.go
  kythe/proto/analysis_service_go_proto/analysis_service.pb.go
  kythe/proto/buildinfo_go_proto/buildinfo.pb.go
  kythe/proto/claim_go_proto/claim.pb.go
  kythe/proto/common_go_proto/common.pb.go
  kythe/proto/cxx_go_proto/cxx.pb.go
  kythe/proto/driver_go_proto/driver.pb.go
  kythe/proto/entryset_go_proto/entryset.pb.go
  kythe/proto/explore_go_proto/explore.pb.go
  kythe/proto/extraction_config_go_proto/extraction_config.pb.go
  kythe/proto/filecontext_go_proto/filecontext.pb.go
  kythe/proto/filetree_go_proto/filetree.pb.go
  kythe/proto/go_go_proto/go.pb.go
  kythe/proto/graph_go_proto/graph.pb.go
  kythe/proto/graph_serving_go_proto/graph_serving.pb.go
  kythe/proto/identifier_go_proto/identifier.pb.go
  kythe/proto/internal_go_proto/internal.pb.go
  kythe/proto/java_go_proto/java.pb.go
  kythe/proto/link_go_proto/link.pb.go
  kythe/proto/pipeline_go_proto/pipeline.pb.go
  kythe/proto/repo_go_proto/repo.pb.go
  kythe/proto/schema_go_proto/schema.pb.go
  kythe/proto/serving_go_proto/serving.pb.go
  kythe/proto/status_service_go_proto/status_service.pb.go
  kythe/proto/storage_go_proto/storage.pb.go
  kythe/proto/storage_service_go_proto/storage_service.pb.go
  kythe/proto/xref_go_proto/xref.pb.go
  kythe/proto/xref_serving_go_proto/xref_serving.pb.go
Due: buildifier, gofmt

chore: update glog dependency (#4845)
  external.bzl
Due: buildifier

chore: run buildifier on relevant BUILD files (#4850)
  .bazelrc
  kythe/go/serving/pipeline/beamio/BUILD
  kythe/rust/extractor/BUILD
  kythe/rust/indexer/BUILD
Due: buildifier

feat: use rules_ruby for building the web site
  setup.bzl
Due: buildifier

chore: mark as manual remove unused load
  kythe/web/site/BUILD
Due: buildifier

chore: add logname to keep command output
  kythe/release/appengine/buildbot/master/master.cfg
Due: none

chore: add logname to keep command output (#4855)
  kythe/release/appengine/buildbot/master/master.cfg
Due: none

chore: add ruby-dev to the buildbot worker
  kythe/release/appengine/buildbot/Dockerfile
Due: none

chore: add ruby-dev to the buildbot worker (#4856)
  kythe/release/appengine/buildbot/Dockerfile
Due: none

feat: use rules_ruby for building the web site
  .gitignore
  WORKSPACE
  external.bzl
  kythe/docs/BUILD
  kythe/docs/asciidoc.bzl
  kythe/docs/schema/BUILD
  kythe/release/appengine/default/deploy.sh
  kythe/web/site/.gitignore
  kythe/web/site/BUILD
  kythe/web/site/Gemfile
  kythe/web/site/Gemfile.lock
  kythe/web/site/_config.yml
  kythe/web/site/build.sh
  kythe/web/site/check_links.sh
  kythe/web/site/check_links_test.sh
  kythe/web/site/doc_header.rb
  kythe/web/site/site_docs.bzl
  kythe/web/site/sync_docs.sh
  setup.bzl
  third_party/rules_ruby_allow_empty.patch
Due: buildifier

chore: clean up the rule artifacts a bit
  kythe/docs/asciidoc.bzl
  kythe/web/site/BUILD
  kythe/web/site/site_docs.bzl
  setup.bzl
Due: buildifier

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: .*/testdata/.*|third_party/.*|tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$
  google-java-format: any of: \.java$, but not: .*/testdata/.*|third_party/.*|tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$
  gofmt: any of: \.go$, but not: .*/testdata/.*|third_party/.*|tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$
