Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-buildifier, copyright, check-google-java-format, check-clang-format, check-gofmt, golint

check-buildifier:
  name: Check bazel buildifier
  description: Runs `buildifier` checks on Bazel files
  entry: buildifier --mode=check
  language: system
  stages:
  - push
  - commit

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

check-google-java-format:
  name: Check google-java-format
  description: Checks `google-java-format` on Java files
  language: system
  entry: google-java-format -n --set-exit-if-changed
  stages:
  - push
  - commit

check-clang-format:
  name: Check clang-format
  description: Checks that files are clang-format compatible
  language: system
  entry: clang-format --dry-run -Werror
  stages:
  - push
  - commit

check-gofmt:
  name: Check gofmt
  description: Checks `gofmt` on Go files
  language: script
  entry: tools/git/check-gofmt.sh
  stages:
  - push
  - commit

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint
  stages:
  - push
  - commit

eof
  kythe/proto/generate_protobufs.py
Due: copyright

feat(rust_indexer): generate and check in rust protos (#4949)
  .pre-commit-config.yaml
  kythe/proto/analysis_rust_proto/analysis.rs
  kythe/proto/analysis_rust_proto/lib.rs
  kythe/proto/generate_go_protobufs.py
  kythe/proto/generate_protobufs.py
  kythe/proto/storage_rust_proto/lib.rs
  kythe/proto/storage_rust_proto/storage.rs
Due: copyright

fix: update link to re2 syntax
  kythe/java/com/google/devtools/kythe/extractors/shared/FileVNames.java
Due: copyright, check-google-java-format

fix: update link to re2 syntax (#4952)
  kythe/java/com/google/devtools/kythe/extractors/shared/FileVNames.java
Due: copyright, check-google-java-format

Replace ij.bazel.io reference with ij.bazel.build.
  kythe/java/com/google/devtools/kythe/analyzers/indexer.bazelproject
Due: none

Replace ij.bazel.io reference with ij.bazel.build. (#4954)
  kythe/java/com/google/devtools/kythe/analyzers/indexer.bazelproject
Due: none

chore: add java_proto_library for metadata.proto
  kythe/proto/BUILD
Due: check-buildifier

chore: add java_proto_library for metadata.proto (#4956)
  kythe/proto/BUILD
Due: check-buildifier

chore(textproto): use const ref for plugin parameter
  kythe/cxx/indexer/textproto/plugin.h
  kythe/cxx/indexer/textproto/plugins/example/plugin.cc
  kythe/cxx/indexer/textproto/plugins/example/plugin.h
Due: copyright, check-clang-format

chore(textproto): use const ref for plugin parameter (#4957)
  kythe/cxx/indexer/textproto/plugin.h
  kythe/cxx/indexer/textproto/plugins/example/plugin.cc
  kythe/cxx/indexer/textproto/plugins/example/plugin.h
Due: copyright, check-clang-format

fix(fuschia-extractor): Fix panic format string for Rust 2021
  kythe/rust/fuchsia_extractor/src/bin/main.rs
Due: copyright

fix(fuschia-extractor): Fix panic format string for Rust 2021 (#4958)
  kythe/rust/fuchsia_extractor/src/bin/main.rs
Due: copyright

format
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: copyright, check-gofmt, golint

feat(go_indexer): add option to put tapp nodes in the CU corpus
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/tappcorpus.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: check-buildifier, copyright, check-gofmt, golint

DO NOT SUBMIT - test that go code is actually being re-built on gcb
  kythe/go/indexer/cmd/go_example/go_example.go
Due: copyright, check-gofmt, golint

fix
  kythe/go/indexer/emit.go
Due: copyright, check-gofmt, golint

Revert "DO NOT SUBMIT - test that go code is actually being re-built on gcb"
  kythe/go/indexer/cmd/go_example/go_example.go
Due: copyright, check-gofmt, golint

feat(go_indexer): add option to put tapp nodes in the CU corpus (#4951)
  kythe/go/indexer/BUILD
  kythe/go/indexer/cmd/go_indexer/go_indexer.go
  kythe/go/indexer/emit.go
  kythe/go/indexer/testdata/basic/tappcorpus.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
Due: check-buildifier, copyright, check-gofmt, golint

chore: update LLVM
  external.bzl
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/semantic_hash.cc
  kythe/cxx/indexer/cxx/semantic_hash.h
  setup.bzl
Due: check-buildifier, copyright, check-clang-format

chore: update LLVM (#4959)
  external.bzl
  kythe/cxx/indexer/cxx/IndexerASTHooks.cc
  kythe/cxx/indexer/cxx/KytheGraphObserver.cc
  kythe/cxx/indexer/cxx/semantic_hash.cc
  kythe/cxx/indexer/cxx/semantic_hash.h
  setup.bzl
Due: check-buildifier, copyright, check-clang-format

feat(java_indexer): add option to put tapps in the CU corpus
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DefaultCorpus.java
Due: copyright, check-google-java-format

rewrap comment
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
Due: copyright, check-google-java-format

feat(java_indexer): add option to put tapps in the CU corpus (#4960)
  kythe/java/com/google/devtools/kythe/analyzers/base/KytheEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaEntrySets.java
  kythe/java/com/google/devtools/kythe/analyzers/java/JavaIndexerConfig.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/DefaultCorpus.java
Due: copyright, check-google-java-format

chore: reorder GCB steps in presubmit
  kythe/release/cloudbuild/presubmit.yaml
Due: none

chore: reorder GCB steps in presubmit (#4961)
  kythe/release/cloudbuild/presubmit.yaml
Due: none

chore: silence unactionable warnings in Java and C
  .bazelrc
  tools/javacopts.bazelrc
Due: none

chore: silence unactionable warnings in Java and C (#4962)
  .bazelrc
  tools/javacopts.bazelrc
Due: none

chore: remove long-deprecated and unused Link kind field
  kythe/cxx/doc/markup_handler.cc
  kythe/cxx/doc/markup_handler.h
  kythe/proto/common.proto
  kythe/proto/common_go_proto/common.pb.go
Due: copyright, check-clang-format, check-gofmt

chore: remove unused kind-based printable filter
  kythe/cxx/doc/html_renderer.cc
  kythe/cxx/doc/markup_handler.cc
  kythe/cxx/doc/markup_handler.h
Due: copyright, check-clang-format

chore: remove bitwise-or operator for deleted RejectPolicy
  kythe/cxx/doc/markup_handler.h
Due: copyright, check-clang-format

chore: remove long-deprecated and unused Link kind field (#4963)
  kythe/cxx/doc/html_renderer.cc
  kythe/cxx/doc/markup_handler.cc
  kythe/cxx/doc/markup_handler.h
  kythe/proto/common.proto
  kythe/proto/common_go_proto/common.pb.go
Due: copyright, check-clang-format, check-gofmt

chore(go): remove kindex support from a few go packages
  kythe/go/extractors/cmd/bazel/extract_kzip/BUILD
  kythe/go/indexer/cmd/go_indexer/BUILD
  kythe/go/platform/analysis/local/BUILD
  kythe/go/platform/analysis/local/local.go
Due: check-buildifier, copyright, check-gofmt, golint

chore: address or suppress error prone warnings
  kythe/java/com/google/devtools/kythe/extractors/java/UsageAsInputReportingFileManager.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/ForwardingStandardJavaFileManager.java
  kythe/java/com/google/devtools/kythe/util/JsonUtil.java
Due: copyright, check-google-java-format

chore(go): remove kindex support from a few go packages (#4964)
  kythe/go/extractors/cmd/bazel/extract_kzip/BUILD
  kythe/go/indexer/cmd/go_indexer/BUILD
  kythe/go/platform/analysis/local/BUILD
  kythe/go/platform/analysis/local/local.go
Due: check-buildifier, copyright, check-gofmt, golint

chore: address or suppress error prone warnings (#4965)
  kythe/java/com/google/devtools/kythe/extractors/java/UsageAsInputReportingFileManager.java
  kythe/java/com/google/devtools/kythe/platform/java/filemanager/ForwardingStandardJavaFileManager.java
  kythe/java/com/google/devtools/kythe/util/JsonUtil.java
Due: copyright, check-google-java-format

Bug fixes and updated fuschia_extractor
  kythe/rust/extractor/src/bin/extractor.rs
  kythe/rust/fuchsia_extractor/BUILD
  kythe/rust/fuchsia_extractor/src/bin/main.rs
Due: check-buildifier, copyright

Run buildifier
  kythe/rust/fuchsia_extractor/BUILD
Due: check-buildifier

Path conditions:
  check-buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  check-google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
