Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-buildifier, copyright, check-google-java-format, check-clang-format, check-gofmt, golint

Path conditions:
  check-buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  check-google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))

chore: mark as manual remove unused load
  kythe/web/site/BUILD
Due: check-buildifier

feat: use rules_ruby for building the web site
  setup.bzl
Due: check-buildifier

chore: update jekyll-ignored script
  kythe/web/site/_config.yml
Due: none

fix(typescript): tslints (#4843)
  kythe/typescript/indexer.ts
Due: copyright

chore: build a new RBE image and more allow_empty
  third_party/rules_ruby_allow_empty.patch
  tools/platforms/Dockerfile
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/cc/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/config/BUILD
Due: none

chore: a few straggling cleanups
  external.bzl
  kythe/docs/asciidoc.bzl
  kythe/docs/schema/BUILD
  setup.bzl
  tools/platforms/BUILD
Due: check-buildifier

Close the iterator.
  kythe/go/serving/graph/columnar.go
Due: copyright, check-gofmt, golint

feat(serving): handle dirty_buffer in columnar decorations
  kythe/go/serving/xrefs/columnar.go
  kythe/go/serving/xrefs/columnar_test.go
Due: copyright, check-gofmt, golint

feat(serving): handle dirty_buffer in columnar decorations (#4858)
  kythe/go/serving/xrefs/columnar.go
  kythe/go/serving/xrefs/columnar_test.go
Due: copyright, check-gofmt, golint

Refactor loopBody into its own method.
  kythe/go/serving/graph/columnar.go
Due: copyright, check-gofmt, golint

Close the graph columnar db iterator. (#4859)
  kythe/go/serving/graph/columnar.go
Due: copyright, check-gofmt, golint

fix(java): emit "static" facts for classes and methods
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Classes.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/StaticMethods.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Variables.java
Due: copyright, check-google-java-format

fix: format
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Classes.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/StaticMethods.java
Due: copyright, check-google-java-format

fix(java): emit "static" facts for classes and methods (#4861)
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Classes.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/StaticMethods.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Variables.java
Due: copyright, check-google-java-format

fix(serving): move defer to after error check
  kythe/go/serving/graph/columnar.go
Due: copyright, check-gofmt, golint

fix(serving): move defer to after error check (#4862)
  kythe/go/serving/graph/columnar.go
Due: copyright, check-gofmt, golint

fix(docs): Use rules_ruby to hermetically generated the web site (#4857)
  .gitignore
  WORKSPACE
  external.bzl
  kythe/docs/BUILD
  kythe/docs/asciidoc.bzl
  kythe/docs/schema/BUILD
  kythe/release/appengine/default/deploy.sh
  kythe/web/site/.gitignore
  kythe/web/site/BUILD
  kythe/web/site/Gemfile
  kythe/web/site/Gemfile.lock
  kythe/web/site/_config.yml
  kythe/web/site/build.sh
  kythe/web/site/check_links.sh
  kythe/web/site/check_links_test.sh
  kythe/web/site/doc_header.rb
  kythe/web/site/site_docs.bzl
  kythe/web/site/sync_docs.sh
  setup.bzl
  third_party/rules_ruby_allow_empty.patch
  tools/platforms/BUILD
  tools/platforms/Dockerfile
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/cc/BUILD
  tools/platforms/configs/default_toolchain_config_spec_name/bazel_4.0.0/config/BUILD
Due: check-buildifier, copyright

feat(verifier): don't spend time sorting input for the fast solver
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, check-clang-format

fix(verifier): address comments
  kythe/cxx/verifier/verifier.cc
Due: copyright, check-clang-format

feat(verifier): don't spend time sorting input for the fast solver (#4863)
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
  kythe/cxx/verifier/verifier_main.cc
Due: copyright, check-clang-format

fix(typescript): prepare for breakage for upcoming 4.2 migration
  kythe/typescript/indexer.ts
Due: copyright

fix(typescript): prepare for breakage for upcoming 4.2 migration (#4864)
  kythe/typescript/indexer.ts
Due: copyright

chore: remove logspam
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, check-gofmt, golint

chore: remove logspam (#4865)
  kythe/go/serving/xrefs/xrefs.go
Due: copyright, check-gofmt, golint

chore: lazily get the default corpus to quiet inaccurate warnings
  kythe/docs/schema/example-base.sh
  kythe/java/com/google/devtools/kythe/extractors/shared/FileVNames.java
Due: copyright, check-google-java-format

chore: lazily get the default corpus to quiet inaccurate warnings (#4866)
  kythe/docs/schema/example-base.sh
  kythe/java/com/google/devtools/kythe/extractors/shared/FileVNames.java
Due: copyright, check-google-java-format

fix(go_indexer): fallback to method ownership by pos
  kythe/go/indexer/BUILD
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/dependent.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
  kythe/go/indexer/testdata/types.go
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: check-buildifier, copyright, check-gofmt, golint

add type alias test
  kythe/go/indexer/testdata/dependent.go
  kythe/go/indexer/testdata/types.go
Due: none

typo
  kythe/go/indexer/indexer.go
Due: copyright, check-gofmt, golint

fix(go_indexer): fallback to method ownership by pos (#4867)
  kythe/go/indexer/BUILD
  kythe/go/indexer/indexer.go
  kythe/go/indexer/testdata/dependent.go
  kythe/go/indexer/testdata/go_indexer_test.bzl
  kythe/go/indexer/testdata/types.go
  tools/build_rules/verifier_test/verifier_test.sh.in
Due: check-buildifier, copyright, check-gofmt, golint

Add Scala indexer.
  WORKSPACE
  kythe/scala/com/google/devtools/kythe/analyzers/scala/BUILD
  kythe/scala/com/google/devtools/kythe/analyzers/scala/Emitter.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/KythePlugin.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/ProtoEmitter.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/Sigs.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/VerifierTest.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/add_to_jar.sh
  kythe/scala/com/google/devtools/kythe/analyzers/scala/scalac-plugin.xml
  kythe/scala/com/google/devtools/kythe/analyzers/scala/testdata/verified/AnchorsAndSynthetics.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/testdata/verified/Callable.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/testdata/verified/InheritsTest.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/testdata/verified/ObjectBug.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/testdata/verified/PredefsAndSystemLibs.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/testdata/verified/SomeTypes.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/testdata/verified/file.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/testdata/verified/func.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/testdata/verified/names.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/testdata/verified/object_extension.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/testdata/verified/refs.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/verifier.bzl
  setup.bzl
Due: check-buildifier, copyright

Don't skip edges in the pipeline.
  kythe/go/serving/pipeline/nodes/nodes.go
  kythe/go/serving/pipeline/nodes/nodes_test.go
Due: copyright, check-gofmt, golint

Don't skip edges in the pipeline. (#4869)
  kythe/go/serving/pipeline/nodes/nodes.go
  kythe/go/serving/pipeline/nodes/nodes_test.go
Due: copyright, check-gofmt, golint

fix(proto): only decorate the relative type name in fields
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/basic/extend.proto
  kythe/cxx/indexer/proto/testdata/basic/nested-message-field.proto
  kythe/cxx/indexer/proto/testdata/corner_cases/import_syntax.proto
  kythe/cxx/indexer/proto/testdata/corner_cases/tabs.proto
Due: copyright, check-clang-format

fix(proto): only decorate the relative type name in fields (#4872)
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
  kythe/cxx/indexer/proto/testdata/basic/extend.proto
  kythe/cxx/indexer/proto/testdata/basic/nested-message-field.proto
  kythe/cxx/indexer/proto/testdata/corner_cases/import_syntax.proto
  kythe/cxx/indexer/proto/testdata/corner_cases/tabs.proto
Due: copyright, check-clang-format

chore: add comment on why split proto type name
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
Due: copyright, check-clang-format

chore: add comment on why split proto type name (#4873)
  kythe/cxx/indexer/proto/file_descriptor_walker.cc
Due: copyright, check-clang-format

Fix shellcheck.
  kythe/scala/com/google/devtools/kythe/analyzers/scala/add_to_jar.sh
Due: copyright

Fix tests to run.
  kythe/scala/com/google/devtools/kythe/analyzers/scala/BUILD
  kythe/scala/com/google/devtools/kythe/analyzers/scala/KythePlugin.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/VerifierTest.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/verifier.bzl
Due: check-buildifier, copyright
