Repository kythe/kythe: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-buildifier, copyright, check-google-java-format, check-clang-format, check-gofmt, golint

check-buildifier:
  name: Check bazel buildifier
  description: Runs `buildifier` checks on Bazel files
  entry: buildifier --mode=check
  language: system
  stages:
  - push
  - commit

copyright:
  name: Check for Kythe Copyright Header
  language: pygrep
  entry: Copyright 20[12][0-9] The Kythe Authors. All rights reserved.
  args:
  - --negate

check-google-java-format:
  name: Check google-java-format
  description: Checks `google-java-format` on Java files
  language: system
  entry: google-java-format -n --set-exit-if-changed
  stages:
  - push
  - commit

check-clang-format:
  name: Check clang-format
  description: Checks that files are clang-format compatible
  language: system
  entry: clang-format --dry-run -Werror
  stages:
  - push
  - commit

check-gofmt:
  name: Check gofmt
  description: Checks `gofmt` on Go files
  language: script
  entry: tools/git/check-gofmt.sh
  stages:
  - push
  - commit

golint:
  name: golint
  description: Runs `golint` on Go files
  language: system
  entry: golint
  stages:
  - push
  - commit

Buildifier.
  kythe/scala/com/google/devtools/kythe/analyzers/scala/BUILD
Due: check-buildifier

Add and update copyright messages.
  kythe/scala/com/google/devtools/kythe/analyzers/scala/Emitter.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/KythePlugin.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/ProtoEmitter.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/Sigs.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/VerifierTest.scala
  kythe/scala/com/google/devtools/kythe/analyzers/scala/add_to_jar.sh
  kythe/scala/com/google/devtools/kythe/analyzers/scala/scalac-plugin.xml
Due: copyright

Buildifier.
  kythe/scala/com/google/devtools/kythe/analyzers/scala/verifier.bzl
Due: check-buildifier

buildifier
  WORKSPACE
Due: check-buildifier

Use default jar command.
  kythe/scala/com/google/devtools/kythe/analyzers/scala/add_to_jar.sh
Due: copyright

fix(bazel_go_extractor): include .x files in required input
  kythe/go/extractors/cmd/bazel/bazel_go_extractor/bazel_go_extractor.go
Due: copyright, check-gofmt, golint

fix(bazel_go_extractor): include .x files in required input (#4874)
  kythe/go/extractors/cmd/bazel/bazel_go_extractor/bazel_go_extractor.go
Due: copyright, check-gofmt, golint

release: v0.0.50
  RELEASES.md
  kythe/release/BUILD
Due: check-buildifier

release: v0.0.50 (#4875)
  RELEASES.md
  kythe/release/BUILD
Due: check-buildifier

chore: add compare support for bools
  kythe/go/util/compare/compare.go
  kythe/go/util/compare/compare_test.go
Due: copyright, check-gofmt, golint

chore: add compare support for bools (#4876)
  kythe/go/util/compare/compare.go
  kythe/go/util/compare/compare_test.go
Due: copyright, check-gofmt, golint

chore: update nodejs dependendencies
  package-lock.json
  package.json
  setup.bzl
Due: check-buildifier

chore: fix require paths
  kythe/typescript/BUILD
Due: check-buildifier

fix(go_vnames): properly map .x file vnames
  kythe/data/vnames.go.json
  kythe/data/vnames_test.go.json
Due: none

chore: update rules_nodejs and npm dependencies (#4877)
  kythe/typescript/BUILD
  package-lock.json
  package.json
  setup.bzl
Due: check-buildifier

fix(go_vnames): properly map .x file vnames (#4878)
  kythe/data/vnames.go.json
  kythe/data/vnames_test.go.json
Due: none

release: v0.0.51
  RELEASES.md
  kythe/release/BUILD
Due: check-buildifier

release: v0.0.51 (#4879)
  RELEASES.md
  kythe/release/BUILD
Due: check-buildifier

feat(build): allow in-tree lex/yacc toolchains
  tools/build_rules/lexyacc/BUILD
  tools/build_rules/lexyacc/lexyacc.bzl
Due: check-buildifier

feat(build): allow in-tree lex/yacc toolchains (#4880)
  tools/build_rules/lexyacc/BUILD
  tools/build_rules/lexyacc/lexyacc.bzl
Due: check-buildifier

feat(verifier): add stub for souffle support
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertions.h
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter.h
  kythe/cxx/verifier/souffle_interpreter_test.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
Due: check-buildifier, copyright, check-clang-format

fix(verifier): always set diagnostic counters
  kythe/cxx/verifier/souffle_interpreter.cc
Due: copyright, check-clang-format

fix(verifier): finish passing verifier argument for inspections
  kythe/cxx/verifier/souffle_interpreter.cc
Due: copyright, check-clang-format

fix(verifier): address comments
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter.h
  kythe/cxx/verifier/souffle_interpreter_test.cc
  kythe/cxx/verifier/verifier.cc
Due: copyright, check-clang-format

fix(verifier): address comments
  kythe/cxx/verifier/souffle_interpreter.h
Due: copyright, check-clang-format

feat(verifier): add stub for souffle support (#4881)
  kythe/cxx/verifier/BUILD
  kythe/cxx/verifier/assertions.h
  kythe/cxx/verifier/souffle_interpreter.cc
  kythe/cxx/verifier/souffle_interpreter.h
  kythe/cxx/verifier/souffle_interpreter_test.cc
  kythe/cxx/verifier/verifier.cc
  kythe/cxx/verifier/verifier.h
Due: check-buildifier, copyright, check-clang-format

fix(go_extractor): special case Go archive names in simple_vnames.json
  kythe/data/simple_vnames.json
  kythe/data/vnames.go.json
Due: none

chore: update go vname test
  kythe/data/vnames_test.go.json
Due: none

chore: fix out-of-range capture index
  kythe/data/simple_vnames.json
Due: none

fix(go_vnames): add go vname archives to simple_vnames.json (#4882)
  kythe/data/simple_vnames.json
  kythe/data/vnames.go.json
  kythe/data/vnames_test.go.json
Due: none

feat(common): consistently allow named captures in vnames.json rules
  external.bzl
  kythe/cxx/common/BUILD
  kythe/cxx/common/file_vname_generator.cc
  kythe/cxx/common/file_vname_generator.h
  kythe/cxx/extractor/proto/BUILD
  kythe/cxx/indexer/proto/BUILD
  kythe/java/com/google/devtools/kythe/extractors/shared/FileVNames.java
  kythe/javatests/com/google/devtools/kythe/extractors/shared/FileVNamesTest.java
Due: check-buildifier, copyright, check-google-java-format, check-clang-format

fix: use the right regex for group names
  kythe/cxx/common/file_vname_generator.cc
  kythe/cxx/common/file_vname_generator_test.cc
Due: copyright, check-clang-format

feat(common): allow named captures in vnames.json rules (#4883)
  external.bzl
  kythe/cxx/common/BUILD
  kythe/cxx/common/file_vname_generator.cc
  kythe/cxx/common/file_vname_generator.h
  kythe/cxx/common/file_vname_generator_test.cc
  kythe/cxx/extractor/proto/BUILD
  kythe/cxx/indexer/proto/BUILD
  kythe/java/com/google/devtools/kythe/extractors/shared/FileVNames.java
  kythe/javatests/com/google/devtools/kythe/extractors/shared/FileVNamesTest.java
Due: check-buildifier, copyright, check-google-java-format, check-clang-format

release: v0.0.52
  RELEASES.md
  kythe/release/BUILD
Due: check-buildifier

release: v0.0.52 (#4884)
  RELEASES.md
  kythe/release/BUILD
Due: check-buildifier

chore: update Maven dependencies
  external.bzl
  kythe/java/com/google/devtools/kythe/common/BUILD
  setup.bzl
Due: check-buildifier

chore: update Maven dependencies (#4885)
  external.bzl
  kythe/java/com/google/devtools/kythe/common/BUILD
  setup.bzl
Due: check-buildifier

feat(java): emit visibility and other modifier facts
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/BUILD
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Modifiers.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Visibility.java
Due: copyright, check-google-java-format

fix: add support for "abstract", fix g-j-f breakage
  kythe/java/com/google/devtools/kythe/analyzers/java/KytheTreeScanner.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Modifiers.java
  kythe/javatests/com/google/devtools/kythe/analyzers/java/testdata/pkg/Visibility.java
Due: copyright, check-google-java-format

Path conditions:
  check-buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD)$|\.bzl$|^WORKSPACE$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  copyright: any of: ^.*$ and not ((?x) ^(AUTHORS|CONTRIBUTORS|WORKSPACE|LICENSE)$ |(^|/)BUILD([^/*]*\.bazel)?$ |\.(pb\.go|md|yaml|yml|json|html|bzl|lock|patch|BUILD|WORKSPACE|kzip|tex|tac|bazelproject)$ |(^|/)(\.[^/]*|go\.mod|go\.sum)$ |^tools/|^third_party/|^kythe/web/site/ |worker/info/(admin|host)$ |/project\.clj$|/style\.css$|bazelrc$|/Doxyfile\.kythe$|/docs/llvm-2014/Makefile$) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
  check-google-java-format: any of: \.java$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-clang-format: any of: \.(c|cc|h|i|m|js|proto)$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  check-gofmt: any of: \.go$, but not: (.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$)
  golint: any of: \.go$ and not (^kythe/proto/.*) and not ((.*/testdata/.*)|(third_party/.*)|(tools/platforms/configs/(versions.bzl|default_toolchain_config_spec_name/.*)$))
